@import 'normalize.css/normalize';
@import '../components/Grid/Grid.css';
@import '../components/Dialogs/Dialogs.css';
@import '../components/Forms/Forms.css';
@import '../components/Lists/Lists.css';
@import '../components/Navigation/Navigation.css';
@import '../components/Typography/Typography.css';
@import '../components/Tables/Tables.css';
@import '../components/Helpers/Helpers.css';
@import '../components/NotFound404/NotFound404.css';

*{
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 4rem;
    font-weight: 100;
}

.App{

}

.MasterNav{
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:hover li a{
        opacity: 0.4;
    }

    a {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: responsive 0.7rem 1rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: #222;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(.27,.19,.36,.99);

        &:hover{
            color: #444;
            background: #eee;
            opacity: 1 !important;
        }


    }

}
