html {
    background: red;
}
/*html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  @media screen and (max-width: 40em) {
    html {
      font-size: 62.5%; } }
  @media screen and (min-width: 40.063em) {
    html {
      font-size: 72%; } }
  @media screen and (min-width: 64.063em) {
    html {
      font-size: 80%; } }
  @media screen and (min-width: 90.063em) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 120.063em) {
    html {
      font-size: 120%; } }*/
