@lost gutter 30px;
@lost cycle none;

$grid-columns: 12;

.container{
    lost-utility: clearfix;
    float: left;
    width: 100%;
}

.column{
    background: orange;
    opacity: 0.6;
    width: 100%;
    lost-column: 1/12;
    padding: 3px;
}
