

$grid-columns: 12;

.MasterDetailGrid{
    @lost gutter 0;
    @lost cycle auto;
    lost-utility: clearfix;
    float: left;
    width: 100%;
}
.MasterNav{
    lost-column: 2/9 0;
}
.Detail{
    lost-column: 7/9 0;
}

.grid-one{
    @lost gutter 20;
    lost-utility: clearfix;

    div{
        background: orange;
        opacity: 0.6;
        width: 100%;
        lost-column: 1/12;
        padding: 3px;
    }
}
